@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;500&family=Poppins:wght@300&display=swap");

.container-form_register {
  font-family: "Poppins", sans-serif;
  form {
    background-color: #0f7e9fa6;
    color: #fff;
    border-radius: 20px;
    padding: 40px;
    padding-top: 4em;
    padding-bottom: 4em;
    width: 23%;
    margin: auto;
  }
  .register-title {
    font-weight: 900;
  }
  .form-group {
    margin: auto;
    margin-bottom: 10px;
    .btn {
      background-color: #39374f;
      color: #fff;
      margin-top: 15px;
      width: 100%;
      &:hover {
        background-color: #444c72;
      }
    }
    .required-field {
      color: red;
    }
    .form-control {
      padding: 10px;
      margin-bottom: 20px;
      font-size: 15px;
      border: none;
      color: #fff;
      border-bottom: 2px solid #cccc;
      border-radius: 0;
      background-color: transparent;
      &:focus {
        box-shadow: none;
        outline: none;
        border-color: lightblue;
      }
      &::placeholder {
        color: #cccc;
      }
    }
  }
}

.error-color {
  border-color: red !important;
}

@media screen and (max-width: 768px) {
    .container-form_register {
      form {
        width: 80%;
      }
    }
}

@media screen and (min-width: 769px) and (max-width: 1350px) {
    .container-form_register {
      form {
        width: 40%;
      }
    }
}
