@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;500&family=Poppins:wght@300&display=swap");
.cursor__pointer {
  cursor: pointer;
}
.close {
  font-weight: bold;
  color: #30725e;
  float: right;
}

.modal-body {
  font-family: "Poppins", sans-serif;
  background-color: #111119;
  padding-bottom: 5em;
  color: #f2f2f2;
  .title {
    text-align: center;
    margin-top: 2em;
    font-weight: 900;
  }
  .container-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn {
      width: 70%;
      margin-bottom: 10px;
      background-color: #195962;
      color: #fff;
      &:focus {
        box-shadow: none;
      }
      &:hover {
        background-color: #2a6b65;
      }
    }
  }
}