<div class="modal-body">
  <div class="close cursor__pointer" aria-label="Close" (click)="onCloseModal()">
    <i class="fas fa-times"></i>
  </div>
  <h1 class="title">Agrega tu tarea!</h1>
  <ng-content></ng-content>
  <div class="container-buttons">
    <button  type="button" class="btn" data-dismiss="modal"
      (click)="onConfirmationSuccess()">
      <i class="fas fa-spinner fa-pulse icon-loading" *ngIf="activeLoading"></i>
      <i class="fas fa-check" *ngIf="!activeLoading"></i> Agregar
    </button>
  </div>
</div>