<div class="container-update_form">
  <form autocomplete="off" [formGroup]="userUpdateForm">
    <h1 class="update-title mb-5">Actualizar datos de usuario</h1>
    <div class="form-group">
      <label for="email">Email <span class="required-field">*</span></label>
      <input type="email" id="email" class="form-control" placeholder="ej: holamundo@gmail.com" formControlName="email" [ngClass]="{'field-error': validateFields('email')}">
    </div>
    <div class="form-group">
      <label for="username">Nombre de usuario <span class="required-field">*</span></label>
      <input type="text" id="username" class="form-control" placeholder="Ingresa nombre de usuario" formControlName="username" [ngClass]="{'field-error': validateFields('username')}">
    </div>
    <div class="form-group">
      <label for="password">Contraseña <span class="required-field">*</span></label>
      <input type="password" id="password" class="form-control" placeholder="Mínimo 8 caracteres" formControlName="password" [ngClass]="{'field-error': validateFields('password')}" minlength="8">
    </div>
    <div class="form-group">
      <label for="password2">Confirmar contraseña <span class="required-field">*</span></label>
      <input type="password" id="password2" class="form-control" formControlName="password2" [ngClass]="{'field-error': validateFields('password2')}" minlength="8">
      <span class="not-coincidence" *ngIf="validateFields('password2')">Las contraseñas no coinciden</span>
    </div>
    <div class="form-group buttons-container">
      <button type="submit" class="btn btn-primary" (click)="onSubmitUpdate()"><i class="far fa-edit"></i> Actualizar</button>
      <button [routerLink]="['/auth/tasks']" class="btn btn-primary">Volver</button>
    </div>
  </form>
</div>
