@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;500&family=Poppins:wght@300&display=swap");

.container-update_form {
  font-family: 'Poppins', sans-serif;
  width: 20%;
  margin: auto;
  background-color: #4abdb6ad;
  color: #fff;
  padding: 30px;
  padding-top: 5em;
  padding-bottom: 5em;
  border-radius: 10px;
  .update-title {
    text-align: center;
    font-weight: 900;
  }
  .form-group {
    margin-bottom: 15px;
    .form-control {
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
  .buttons-container {
    margin-top: 1em;
    .btn {
      background-color: #0d6efd;
      border-color: transparent;
      width: 100%;
      margin-bottom: 5px;
      &:focus {
        box-shadow: none;
        outline: none;
      }
      &:hover {
        background-color: #0d6efd8c;
      }
    }
  }
}

.required-field {
  color: red;
}

.field-error {
  border-color: red;
}

.not-coincidence{
    font-size: 13px;
}

@media screen and (max-width: 767px) {
  .container-update_form {
    width: 80%;
    text-align: center;
  }
}


