@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;500&family=Poppins:wght@300&display=swap");

.my-task_container {
  width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  .title {
    font-weight: 900;
    color: #fff;
    text-align: center;
  }
  .not-tasks {
    font-weight: 900;
    color: #fff;
    text-align: center;
    margin-top: 100px;
  }
  .container-table {
    height: 500px;
    text-align: center;
  }
  .spinner {
    color: #fff;
    font-size: 100px;
  }
  .tasks-table {
    text-align: left;
    table-layout: fixed;
    margin: auto;
    thead {
      color: #f2f2f2;
      background-color: rgb(53 176 182 / 79%);
      tr {
        th {
          padding: 10px;
          text-align: center;
        }
      }
    }
  }
  tbody {
    color: #fff;
    background-color: rgb(0 0 0 / 38%);
    tr {
      td {
        padding: 20px;
      }
      .state {
        text-align: center;
      }
    }
    .fas {
      margin-left: 10px;
      cursor: pointer;
      color: #ff4c4c;
      font-size: 20px;
    }
    .check {
      color: #00ff00;
      margin-left: 15px;
    }
  }
}

.new-task_form {
  margin-top: 50px;
  .form-group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-control {
      width: 70%;
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.tashed {
  text-decoration-line: line-through;
}

@media screen and (max-width: 767px) {
   .title {
    display: none;
   }
}
