@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;500&family=Poppins:wght@300&display=swap");

.not-tasks {
  color: #fff;
  margin: auto;
  width: 50%;
  text-align: center;
  font-weight: 900;
}

.responsive {
  margin: auto;
  margin-top: 2em;
  font-family: "Poppins", sans-serif;
  width: 80%;
  .field-container {
    .search-task {
      width: 20%;
      margin-bottom: 20px;
      border-radius: 0px;
      font-size: 14px;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  .user {
    font-weight: 900;
  }
  .container-data_user {
    background-color: #252435bf;
    display: inline-flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #fff;
    img {
      width: 100px;
      border-radius: 100%;
      border: 2px solid darkgray;
    }
    .info {
      margin-left: 20px;
      span {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
      }
      .btn {
        width: 100%;
        &:focus {
          box-shadow: none;
          outline: none;
          background-color: #43a8bc;
        }
      }
      .tasks {
        .amount {
          background-color: #2f766f;
          padding: 0px;
          padding-inline: 8px;
          padding-block: 2px;
          border-radius: 30px;
          font-size: 13px;
          color: #fff;
          font-weight: 800;
        }
      }
    }
  }
}

.table {
  table-layout: fixed;
  tbody {
    color: #fff;
    background-color: rgb(0 0 0 / 38%);
  }
}
