<app-header [userData]="userData"></app-header>
<div class="responsive" >
  <div class="container-data_user">
    <img [src]="userData?.avatar | userImage" alt="image">
    <div class="info">
      <span class="username">Usuario: {{ userData?.user }}</span>
      <span class="user-email">Email: {{ userData?.email }}</span>
      <span class="tasks">Mis tareas: <small class="amount">{{ userData?.tasks.length }}</small></span>
      <button class="btn btn-info btn-sm text-white" [routerLink]="['/auth/update', userData?._id]"><i class="far fa-edit"></i> Modificar</button>
    </div>

  </div>
  <h1 *ngIf="!tasks?.length" class="not-tasks">Aún no se registran tareas</h1>
  <table class="table" *ngIf="tasks?.length">
    <caption class="text-white">Lista de tareas</caption>
    <thead class="bg-secondary text-white">
      <tr>
        <th>Usuario</th>
        <th>Título de la tarea</th>
        <th>Descripción</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td class="user">{{ task.user | json }}</td>
        <td class="title">{{ task.title }}</td>
        <td class="description">{{ task.description }}</td>
        <td class="complete">{{ task.complete ? 'Completada' : 'Sin terminar' }}</td>
      </tr>
    </tbody>
  </table>
</div>
